
<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
	<title>LOANS2GO | Loans HTML Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="loans HTML Template">
	<meta name="keywords" content="loans, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<a href="index.html" class="site-logo">
			<img src="{% static 'img/logo1.png' %}" height="25px" width="130px" alt="">
		</a>
		<nav class="header-nav">
			<ul class="main-menu">
				<li><a href="{% url 'homepage' %}" >Home</a></li>
				<li><a href="{% url 'aboutpage' %}" >About us</a></li>
<!--				<li><a href="#">Services</a>-->
<!--					<ul class="sub-menu">-->
<!--						{% for i in data %}-->
<!--						<li><a href="{% url 'servicepage' category=i.Name %}">{{i.Name}}</a></li>-->
<!--						{% endfor %}-->
<!--					</ul>-->
				</li>
				<li><a href="{% url 'sectionloanpage' %}" class="active">Loans</a></li>
				<li><a href="{% url 'accountpage' %}">Accounts</a></li>
				<li><a href="{% url 'contactpage' %}">Contact</a></li>
			</ul>

		</nav>
	</header>
	<!-- Header Section end -->

	<!-- Page top Section end -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/5.jpg' %}">
		<div class="container">
			<h2>Loans</h2>
			<nav class="site-breadcrumb">
				<a class="sb-item" href="#">Home</a>
				<span class="sb-item active">Loans</span>
			</nav>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Loans Section end -->
	<section class="loans-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="{% static 'img/loans.jpg' %}" alt="">
				</div>
				<div class="col-lg-6">
					<div class="loans-text">
						<h2>Our Loan is now available online</h2>
						<p> Instant Loans: We offers various loans like personal loan, home loan,
							vehicle loan & many more with lowest interest rates.</p>
						<ul>
							<li>Customized loans for your unique needs.</li>
							<li>Quick and easy loan approval.  </li>
							<li>Borrow smart, borrow with us.</li>
						</ul>
						<a href="#" class="site-btn">apply right now!</a>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Loans Section end -->

	<!-- Loans calculator Section  -->
	<section style="background-color:rgb(128, 128, 128);height:500px;">
		<div class="container">
			<div class="text-center text-black mb-5 pb-3">
				<h2 style="padding-top:10px;">Benefits....!!</h2>
			</div>
			<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/paperless-1.png' %}" class="card-img-top" style="padding-right:60px;padding-left:60px;padding-top:10px;" height="130px" alt="...">
      <div class="card-body">
        <h5 class="card-title">100% Paperless</h5>
        <p class="card-text">Fully digital loan application process. Complete the entire loan and repayment
			through mobile phone. Not a single piece of paperwork required.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/instant-approvals-1.png' %}" class="card-img-top" style="padding-right:60px;padding-left:60px;padding-top:10px;" height="130px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Instant Approval</h5>
        <p class="card-text">Application process can be completed within 10 minutes. Approval is automated
			and done in under 2 minutes to save your time.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/fast-disbursal-1.png' %}" class="card-img-top" style="padding-right:60px;padding-left:60px;padding-top:10px;" height="130px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fast Disbursal</h5>
        <p class="card-text">Disbursal is done directly into your bank account through IMPS.
			It is done on the same day as mandate approval.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/affordable-emis-1.png' %}" class="card-img-top" style="padding-right:60px;padding-left:60px;padding-top:10px;" height="130px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Affordable EMIs</h5>
        <p class="card-text">With loan tenures from 3 months to 12 months,
			you can always find the EMI that is right for your finances.</p>
      </div>
    </div>
  </div>
</div>
		</div>
	</section>
	<!-- Loans calculator Section end -->

	<!-- Services Section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6">
						<img src="{% static 'img/home loan.jpg' %}" alt="">
					</div>
					<div class="col-lg-6">
						<div class="feature-text">
							<h2>Home Loan</h2>
							<p>Getting a home is now easier than ever. we give you the best interest rates on
								housing finance and a wide selection of property options, so that you can live
								your best life. Apply for home loan online with us and avail higher loan
								eligibility with longest tenure up to 30 years.</p>
							<a href="{% url 'loanapp' %}">Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6 order-lg-2">
						<img src="{% static 'img/vehicle loan.jpg' %}" alt="">
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="feature-text">
							<h2>Vehicle Loan</h2>
							<p>Bring home your dream car with our New Vehicle Loans. With a hassle-free
								application process, you can apply for a new vehicle loan and get doorstep
								loan assistance from our associates. Our Vehicle Loan can help you drive home
								your new vehicle with a flexible EMI scheme and loan tenures up to 10 years.</p>
							<a href="{% url 'loanapp' %}" >Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6">
						<img src="{% static 'img/business.jpg' %}" alt="">
					</div>
					<div class="col-lg-6">
						<div class="feature-text">
							<h2>Business Loan</h2>
							<p>When it comes to your business, you want to do everything in your power
								to ensure that it grows and thrives. we help you take your business to new
								heights. Whether it is to expand to new markets, buy new equipment, upgrade
								existing facilities, or meet the requirements of your working capital.</p>
							<a href="{% url 'loanapp' %}" >Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6 order-lg-2">
						<img src="{% static 'img/personal.jpg' %}" alt="">
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="feature-text">
							<h2>Personal Loan</h2>
							<p>No dream is too big with our online personal loans. From destination weddings
								to vacations, you can use our personal loan to meet different requirements.
								Apart from helping you complete your bucket list; a personal loan can also
								help you out in times of emergencies and crisis.</p>
							<a href="{% url 'loanapp' %}" >Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6">
						<img src="{% static 'img/gold loan.jpg' %}" alt="">
					</div>
					<div class="col-lg-6">
						<div class="feature-text">
							<h2>Gold Loan</h2>
							<p>Are you in urgent need of money? We can help! Apply for a gold loan against
								your idle gold jewelry and enjoy attractive interest rates. Our seamless and
								hassle-free onboarding process makes it easy to apply and avail the best gold
								loan. We offer a digital and paperless journey for your gold loan.</p>
							<a href="{% url 'loanapp' %}" >Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="row">
					<div class="col-lg-6 order-lg-2">
						<img src="{% static 'img/education.jpg' %}" alt="">
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="feature-text">
							<h2>Education Loan</h2>
							<p>Don’t let finances hold you back from enrolling yourself in your dream institute.
								Let us take charge of your finances with a range of student loans. We understand
								your ambitions and acknowledge your merit. We are driven to help you with
								financial aid to make your journey hassle-free.</p>
							<a href="{% url 'loanapp' %}">Apply for a loan now <img src="img/arrow.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="score-section text-white set-bg" data-setbg="{% static 'img/score-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-8">
					<h2>Get Personal Loan Digitally with flexi EMI upto 12 Months.</h2>
					<a href="#" class="site-btn sb-small">Apply Now</a><br><br>
					<div class="elementor-element elementor-element-8585901 elementor-widget elementor-widget-tt-list" data-id="8585901" data-element_type="widget" data-widget_type="tt-list.default">
				<div class="elementor-widget-container">
				  <ul class="tt__list inline-items">
		  			<li class="list-item inline-item icon-shape">

				  						<i class="ei ei-icon_check"></i>

				<span class="list-text">Quick & Easy Application Process</span>

				  			</li>

		  			<li class="list-item inline-item icon-shape">

				  						<i class="ei ei-icon_check"></i>

				<span class="list-text">No Paper Work</span>

				  			</li>

		  			<li class="list-item inline-item icon-shape">

				  						<i class="ei ei-icon_check"></i>

				<span class="list-text">Approval in 10 Minutes</span>

				  			</li>

		  			<li class="list-item inline-item icon-shape">

				  						<i class="ei ei-icon_check"></i>

				<span class="list-text">Affordable & Flexible EMI Options</span>

				  			</li>

		  	  </ul>
				</div>
				</div>
				</div>
	</section>


	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<a href="index.html" class="footer-logo">
				<img src="{% static 'img/logo1.png' %}" height="25px" width="130px" alt="">
			</a>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<p>E-Loan inc is a company that will change the way loans in India are processed.
							From a traditional model of loans, we bring together the new credit scoring
							systems with our technology for customers to get quick loans digitally
							within minutes.</p>
						<div class="social-links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-youtube-play"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>What we do</h2>
						<ul>
							<li><a href="#">Loans</a></li>
							<li><a href="#">Home loans</a></li>
							<li><a href="#">Vehicle loans</a></li>
							<li><a href="#">Business loans</a></li>
							<li><a href="#">Gold loans</a></li>
							<li><a href="#">Education loans</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>About us</h2>
						<ul>
							<li><a href="#">About us</a></li>
							<li><a href="#">Our story</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">Meet the leadership team</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Contact Info</h2>
						<ul>
							<li><a href="#">Support</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright" style="margin-left:400px;">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
				All rights reserved |<a>Loans2Go</a></div>
		</div>
	</footer>
	<!-- Footer Section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
