<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Section</h4>
                    <p class="card-description"> Edit Section Details </p>
                    <form class="forms-sample" method="POST" action="{% url 'uptsecdetails' dataid=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="Name" value="{{data.Name}}">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Price Details</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Product per Kg" name="Price" value="{{data.Price}}">-->
<!--                      </div>-->
                      <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="Category" value="{{data.category}}">
                          {% for i in da %}
                            <option>{{i.Name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Image</label>
                        <input type="file"  class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info"  placeholder="Upload Image" name="Image">
                            <img src="{{data.Image.url}}" width="40px" height="40px" alt="">

                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">Quantity</label>-->
<!--                        <input type="number" class="form-control" id="exampleInputCity1" placeholder="Enter Quantity" name="Quantity" value="{{data.Quantity}}">-->
<!--                      </div>-->
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="Descript">{{data.Descript}}</textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Update</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

</body>
</html>
{% endblock %}